/* * {
    color: pink;

} */
body {
    background-color: #ffe5d9;
}
button  {
    font-size: 30px;
    background-color: #264653;
}
h1,h2 {
    color: darkslateblue;
}

/* id selector */
#signup {
    background-color: #f4a261;
}

span {
    color:#cb997e;
}
.tag {
    background-color:#d8e2dc;
}