/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,h2 {
    color: #1d3557;
}

#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #a8dadc;
}
/* 这里的ad的父级是li < ul < nav < footer */
footer a {
    color:#e63946;
    ;
}
h2 + button {
    font-size: 20px;
}
/* a是footer的子级，所以a再 */
footer > a {
    color: #457b9d;
}
input[type="password"]{
    color: greenyellow;
}

/* section.post = section[class="post"] */

a[href="www.google.com"]{  /*等于  a[href*="google"] 这个看的是链接中的字母 www.'***'.com*/
    color: magenta;
}

.post button:hover {
    background-color:#e63946;
    color: #f1faee;
}

.post button:active{
    background-color: #02c39a;
}

.post:nth-of-type(3n){
    background-color: #dfe8dc;
}